<div class="index">
<h2>Oefeningen</h2>
<ul>
  <li><a href="/svgoefening">SVG Oefening</li>
  <li><a href="/favorietdatums">Favoriete datums</li>
  <li><a href="/automerken">Auto merken</li>
  <li><a href="/datumsverschonen">Datums verschonen</li>
  <li><a href="/huisdiernamen">Huisdier namen</a></li>
</ul>
</div>